/***********Birdies CSS**************/

/* Font import */

@font-face {
    font-family: 'CircularStd-Book';
    font-weight: normal;
    src: url("fonts/CircularStd-Book.woff2") format("woff2");
}

@font-face {
    font-family: 'CircularStd-BookItalic';
    font-weight: bold;
    src: url("fonts/CircularStd-BookItalic.woff2") format("woff2");
}

@font-face {
    font-family: 'CircularStd-Medium';
    font-weight: bold;
    src: url("fonts/CircularStd-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'CircularStd-Bold';
    font-weight: bold;
    src: url("fonts/CircularStd-Bold.woff2") format("woff2");
}

/* Birdies CSS-Reset */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
a {
    padding: 0;
    margin: 0;
    color: var(--darkColor);
    text-decoration: none;
    font-style: normal;
}

figure,
img {
    margin: 0;
    padding: 0;
    object-fit: contain;
}

/* Birdies Variables */
:root {
    --bgColor: #CFC9C6;
    --darkColor: #25282A;
    --logoType: 'Rota';
    --border: 3rem;
    --borderRight: 2rem;
    --txtBook: 'CircularStd-Book';
    --txtBookItalic: 'CircularStd-BookItalic';
    --txtMedium: 'CircularStd-Medium';
    --txtBold: 'CircularStd-Bold';


}


h1 {
    font-size: 3.125rem;
    font-family: var(--txtBook);
    line-height: 1em;
}

h3 {
    font-size: 1.25rem;
    font-family: var(--txtBold);
    margin-top: 4rem;
    letter-spacing: .02em;

}

p {
    font-size: 1.125rem;
    font-family: var(--txtBook);
    margin-bottom: 4rem;
    letter-spacing: .02em;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 4rem;
    font-size: 1.125rem;
    font-family: var(--txtBook);
}

/* Selection color */

::selection {
    background-color: hsl(0 0% 10% / 1);
    color: var(--bgColor)
}

/*Scroll bars*/

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--darkColor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bgColor);
    border-radius: 100vw;
    border: .35rem solid var(--darkColor);
}


@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--bgColor) var(--darkColor);
        scrollbar-width: auto;
    }
}

/* Birdies code */

body {
    background-color: var(--bgColor);
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: clamp(22rem, 1rem + 20vw, 300rem) 3fr;
    grid-template-rows: auto;
    max-width: 100vw;


}

/* Primer Seccion - Fija */

.intro {
    padding-inline-start: 2rem;
    padding-block-start: 2rem;
    /*    width: clamp(15rem, 1rem + 20vw, 40rem);*/
    max-height: 100vh;
    position: sticky;
    top: 0px;
    overflow-y: auto;
    scrollbar-color: var(--darkColor) var(--bgColor);
    scrollbar-width: auto;
    display: flex;
    flex-direction: column

}

.intro::-webkit-scrollbar {
    width: .45rem;
}

.intro::-webkit-scrollbar-track {
    background: transparent;
}

.intro::-webkit-scrollbar-thumb {
    background-color: var(--darkColor);
    /*    border: .25rem solid var(--darkColor);*/
}

.ugText {
    font-family: var(--txtBook);
    font-size: 9rem;
    margin: 0;
    margin-block-end: 4rem;

}

.intro h1 {
    margin-block-end: 2.5rem;
}

.bookD {
    padding-block: 1.25rem;
    background-color: var(--darkColor);
    color: var(--bgColor);
    font-family: var(--txtBook);
    font-size: 1.5rem;
    text-align: center;
    max-width: 12rem;
    border: .25rem solid var(--darkColor);
    transition: all 600ms;
}
.bookD:hover,
.bookD:focus{
    background-color: var(--bgColor);
    color: var(--darkColor);
    border: .25rem solid var(--darkColor);
    transition: all 600ms;
}

.intro article section:not(:last-child) {
    border-bottom: 3px solid var(--darkColor)
}

.boldie {
    font-family: InterSemiBold;
}

/* Segunda Seccion - Scroll Proyectos */
main {
    padding-block-start: 2rem;
    padding-inline-end: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.logoUG {
    text-align: end;
    width: 100%;
    position: sticky;
    top: 2em;
}

.proyecto {
    height: 38vw;
    height: clamp(15rem, 1rem + 38vw, 40rem);
    width: 80%;
/*        margin: 2rem;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}


.proyecto:nth-of-type(1):hover {
    background: url(../IMG/ITDP_PedestriansFirst-Portada.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.proyecto:nth-of-type(2):hover {
    background: url(../IMG/portada_PuebloBicicletero.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.proyecto:nth-of-type(3):hover {
    background: url(../IMG/Portada_ManualDeCalles.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.proyecto:nth-of-type(4):hover {
    background: url(../IMG/portada_CongresoNacionalCiclismoUrbano.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.proyecto:nth-of-type(5):hover {
    background: url(../IMG/portada_Respetuoso.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.proyecto:nth-of-type(6):hover {
    background: url(../IMG/portada_ForoMundialBicicleta.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.proyecto:nth-of-type(7):hover {
    background: url(../IMG/portada_ideamos.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.proyecto:nth-of-type(8):hover {
    background: url(../IMG/portada_vertebrales.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.proyecto:nth-of-type(9):hover {
    background: url(../IMG/portada_BiciRedMX-HazlaDeTos.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.proyecto:nth-of-type(10):hover {
    background: url(../IMG/portada_bikenciry.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.proyecto:nth-of-type(11):hover {
    background: url(../IMG/portada_camina.png);
    transition: background 2s;
    background-position: center;
    background-size: cover;
}

.portadaProyecto img {
    width: 80%;
    max-height: 15rem;
}

.proyecto:hover .portadaProyecto {
    opacity: 0;

}

/****Footer****/
footer address a {
    font-family: var(--txtBookItalic);
    font-size: 1.3rem;
    padding-bottom: 3rem;
}

footer address a:hover {
    color: #006FAB;
}


/****Version Mobile****/
@media screen and (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
    }

    .intro {
        position: relative;
        max-width: 95%;
        max-height: 100%;
        overflow-y: hidden;
    }
 

    main {
        width: 100%;
        margin-right: 0;
    }

    .proyecto > * + * {
        padding-top: 15rem;
    }

    .portadaProyecto {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .portadaProyecto img {
        height: 9rem;
        width: 80%;
    }

    .logoUG {
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    .logoUG img {
        width: 15%;
    }
       footer{
    border-bottom: 3px solid var(--darkColor)
}

}
